.fixtures__boxsize {
  width: 40vw;
}

.fixtures {
  display: flex;
  justify-content: center;
}

.fixtures-title {
  padding: 10px 20px;
  width: 6vw;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  justify-self: center;
  margin-bottom: 40px;
  text-align: center;
}

.fixture_container_box {
  display: flex;
  flex: row;
  gap: 10px;
  align-items: center;
  height: 60px;
  border-top: 1px solid rgb(186, 182, 182);
  justify-content: center;
  width: 35vw;
}

.fixture_container_box-round {
  font-weight: bold;
}

.fixture_container_box-img {
  width: 30px;
  height: 30px;
}

.fixture_container_box-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixture_container_box-score {
  box-sizing: border-box;
  margin: 0px 5px 5px 0px;
}

.fixture_container_box-name:hover {
  font-weight: bold;
  cursor: pointer;
}
