.fixtures__boxsize {
  min-width: 610px;
}

.fixtures-title {
  padding: 10px 20px;
  width: 6vw;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  justify-self: center;
  margin-bottom: 40px;
  text-align: center;
}

.fixtures {
  display: flex;
  justify-content: center;
}

.fixture_container_box {
  display: flex;
  flex: row;
  gap: 10px;
  align-items: center;
  height: 60px;
  border-top: 1px solid rgb(186, 182, 182);
  justify-content: center;
  width: 35vw;
  min-width: 580px;
}

.fixture_container_box-round {
  font-weight: bold;
}

.fixture_container_box-img {
  width: 30px;
  height: 30px;
}

.fixture_container_box-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixture_container_box-score {
  box-sizing: border-box;
  margin: 0px 5px 5px 0px;
  min-width: 40px;
  text-align: center;
}

.fixture_container_box-date {
  min-width: 90px;
}

.fixture_container_box-name:hover {
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1480px) {
  .fixtures__boxsize {
    width: 88vw;
  }

  .fixture_container_box {
    width: 80vw;
    gap: 4vw;
  }
}

@media (max-width: 1310px) {
  .fixtures-title {
    width: 20vw;
  }
}

@media (max-width: 690px) {
  .fixtures__boxsize {
    width: 95vw;
  }

  .fixture_container_box-name {
    font-size: 0%;
  }

  .fixtures__boxsize {
    min-width: 0px;
  }

  .fixture_container_box {
    min-width: 0px;
  }

  .fixture_container_box-round {
    font-size: 0%;
  }
}

@media (max-width: 480px) {
  .fixtures-title {
    font-size: small;
  }

  .fixture_container_box {
    width: 40vw;
  }
}
