/* @font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

.player {
  width: 83.72vw;
  display: grid;
  grid-template-rows: 200px 1fr;
  height: 100vh;
  grid-row: 2/3;
  grid-column: 2/3;
}

.player__main {
  grid-row: 2/3;
  border: 2px solid rgb(229, 229, 230);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 60px 10px;
}

/* 선수 프로필 css  */
/* 
.player__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  height: 100px;
  grid-row: 1/2;
}

.player__profile-img {
  border: 5px solid rgb(192, 192, 192);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 140px;
  height: 140px;
}

.player__profile_infoBox {
  border-left: 2px solid rgb(192, 192, 192);
  padding-left: 10px;
  margin-right: 20px;
}

.player__profile_infoBox-name {
  font-weight: bolder;
  font-size: 30px;
  width: 300px;
  padding: 20px;
}

.player__profile_infoBox-thing {
  font-size: large;
  padding-bottom: 7px;
  margin-left: 10px;
  font-weight: 500;
}

.player__profile_currentSeason-title {
  font-size: 20px;
  font-weight: bolder;
  margin-left: auto;
  padding-right: 20px;
}

.player__profile_currentSeason {
  border-left: 2px solid rgb(192, 192, 192);
  padding-left: 10px;
  margin-right: 20px;
}

.player__profile_currentSeason-thing {
  padding: 20px;
  font-weight: bolder;
  font-size: large;
  border-left: 2px solid rgb(192, 192, 192);
} */

/* 선수 통계 css */

/* .player__statistics_title {
  font-size: x-large;
  margin: 30px 0px;
  text-align: center;
  font-weight: bold;
}

.player__statistics_table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 0px 20px;
}

.player__statistics_table td {
  border: 1px solid #ddd;
  padding: 9px;
}

.player__statistics_table th {
  background-color: #f4f4f4;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.player__statistics_table-td {
  align-items: center;
} */

/* 선수 수상 css */
/* 
.player__trophies {
  grid-row: 2/3;
  grid-column: 2/3;
}

.player__trophies_title {
  font-size: x-large;
  margin: 30px 0px;
  text-align: center;
  font-weight: bold;
}

.player__trophies_container {
  overflow: scroll;
  height: 430px;
  overflow-x: hidden;
  border: 5px solid rgb(152, 152, 152);
  border-radius: 20px;
}

.player__trophies_container_box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
}

.player__boxCss {
  border: 2px solid rgb(229, 229, 230);
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 30px 10px;
  border-radius: 20px;
} */
