.teamOverview {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

@media (max-width: 950px) {
  .teamOverview {
    display: flex;
    flex-direction: column;
  }
}
