.transfer_container {
  width: 88vw;
}

.transfer_container_box {
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(229, 229, 230);
  background-color: rgb(248, 248, 248);
  border-radius: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
}

.transfer_container_box > * {
  margin-right: 100px;
}

.transfer_container_box_infoBox {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
}

.transfer_container_box_infoBox-arrow {
  box-sizing: border-box;
  font-size: 50px;
  font-weight: bolder;
  line-height: 50px;
}

.transfer_container_box-name {
  font-weight: bolder;
  font-size: larger;
  align-self: center;
  width: 20vw;
  margin-left: 8vw;
}

.transfer_container_box-img {
  width: 100px;
  height: 100px;
}

@media (max-width: 1280px) {
  .transfer_container_box-name {
    font-size: large;
    width: 18vw;
    margin-left: 6vw;
  }

  .transfer_container_box > * {
    margin-right: 50px;
  }
}

@media (max-width: 880px) {
  .transfer_container_box-name {
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0vw;
  }

  .transfer_container_box_infoBox-arrow {
    box-sizing: border-box;
    font-size: 30px;
  }

  .transfer_container_box-img {
    width: 50px;
    height: 50px;
    align-self: center;
  }

  .transfer_container_box_infoBox {
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .transfer_container_box > * {
    margin-right: 10px;
  }

  .transfer_container_box_infoBox {
    font-size: xx-small;
  }
}
