.teamFixtures__boxCss {
  border: 2px solid rgb(229, 229, 230);
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px 10px;
  border-radius: 20px;
}

.teamFixtures__lastFixtures {
  grid-row: 1/2;
}

.teamFixtures__nextFixtures {
  grid-row: 2/3;
}

.teamFixtures__lastFixtures-title {
  padding: 10px;
  width: 80px;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  justify-self: center;
  margin-bottom: 20px;
}

.teamFixtures__nextFixtures-title {
  padding: 10px;
  width: 100px;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  justify-self: center;
  margin-bottom: 20px;
}

/* 팀 경기 */
.teamFixtures {
  padding: 0px 20px 0px 10px;
  justify-content: center;
}

.teamFixturesResult-title {
  padding: 10px;
  width: 80px;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
  justify-self: center;
  margin-bottom: 20px;
}

.teamFixture_container_box {
  display: flex;
  flex: row;
  gap: 10px;
  align-items: center;
  height: 110px;
  border-top: 1px solid rgb(186, 182, 182);
}

.teamFixture_container_box-logoImg {
  width: 80px;
  height: 80px;
  border: 5px solid rgb(192, 192, 192);
  padding: 5px;
}

.teamFixture_container_box-round {
  font-weight: bold;
  width: 300px;
  margin-left: 30px;
}

.teamFixture_container_box-img {
  width: 50px;
  height: 50px;
}

.teamFixture_container_box-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.teamFixture_container_box-score {
  box-sizing: border-box;
  margin: 0px 30px;
}

.teamFixture_container_box-score:hover {
  border-bottom: 3px solid black;
  font-weight: bold;
  cursor: pointer;
}

.teamFixture_container_box-name:hover {
  font-weight: bold;
  cursor: pointer;
}

.teamFixtures_container_box_button {
  margin-top: 20px;
  padding: 5px;
  width: 513.8px;
}

.left-name {
  text-align: end;
}
