.selectLeague {
  height: 100%;
  display: grid;
  grid-template-rows: 130px 1fr;
  grid-template-columns: 4vw 88vw 8vw;
  justify-content: center;
}

.selectLeague_navigateBar {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100px;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  justify-self: center;
}

.selectLeague_navigateBar:hover {
  border-radius: 20px;
  background-color: rgb(229, 229, 230);
}

.selectLeague_news {
  grid-row: 2/3;
  grid-column: 2/3;
}

.selectLeague_navigateBar {
  cursor: pointer;
  position: relative;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  justify-self: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -300%;
  background-color: rgb(229, 229, 230);
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.selectLeague_navigateBar:hover .dropdown {
  display: flex;
  flex-direction: row;
}

.dropdown-item {
  width: 150px;
  padding: 10px;
  color: black;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.pageLocation {
  top: 0px;
  right: 0px;
  width: 4vw;
  height: 60px;
  position: fixed;
  font-size: large;
  font-weight: bolder;
  padding: 19px;
  text-align: center;
  border-radius: 0px 0px 0px 50px;
  background-color: rgb(255, 241, 115);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
